<section id="ivi">
  <div class="container">
      <div class="img-container"></div>
      <div class="texto">
      <h2><span class="color-acento"> Soy Estudiante de Full Stack Developer</span></h2>
          <p>Comencé Sé Programar en febrero de 2022 en el plan de Argentina Programa. En junio de 2022 comencé la segunda  etapa de Yo Programo también en el plan de estudio de Argentina Programa.
            Luego, comencé a estudiar Big Data y Ciencia de Datos en el Programa Codo a Codo 4.0 del Ministerio de Educación de la Ciudad de Buenos Aires, con formación en bases de datos, MySQL, y Python entre otras tecnologías.</p>
      </div>
  </div>
</section>
