<section class="proyectos">
  <h2 class="text-center">Mis Proyectos</h2>
<div class="card-deck">
  <div class="card">
      <img class="card-img-top" src="assets/IMG/giphy.gif" alt="">
      <div class="card-block">
          <h4 class="card-title text-center">Mi maqueta estática</h4>
          <a class="btn btn-outline-info btn-sm">Click</a>
    </div>
  </div>
  <div class="card">
      <img class="card-img-top" src="assets/IMG/2.-FL-From-replit.com-HolaMundojava.webp">
      <div class="card-block">
          <h4 class="card-title">Portfolio en Angular</h4>
          <a href="/PAGINA.MAIN/index.html" target="_blank" class="btn btn-outline-info btn-sm">Click</a>
         </div>
        </div>
  <div class="card">
      <img class="card-img-top" src="assets/IMG/Selección-múltiple-con-replit.gif">
      <div class="card-block">
          <h4 class="card-title">Mis repositorios de Github</h4>
          <a href="https://github.com/Ivanna49?tab=repositories" target="_blank" class="btn btn-outline-info btn-sm">
            Click</a>
      </div>
  </div>
</div>
</section>

