<div class="row">
  <h2>Hard & Soft Skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'HTML 90%'"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [titleColor]="'white'"
  [titleFontSize]="'1em'"
  [showSubtitle]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#4AEB52'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="300">
</circle-progress>

</div>



  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'CSS 90%'"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [titleColor]="'white'"
  [titleFontSize]="'1em'"
  [showSubtitle]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#3890DE'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="300">
</circle-progress>

</div>



  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="60"
  [radius]="100"
  [title]="'JAVASCRIPT 60%'"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="true"
  [titleColor]="'white'"
  [titleFontSize]="'1em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#E1296C'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>



  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [radius]="100"
  [title]="'ENGLISH 80%'"
  [imageHeight]="30"
  [imageWidth]="30"
  [showUnits]="false"
  [titleColor]="'white'"
  [titleFontSize]="'1em'"
  [showSubtitle]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#28C1A5'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>



  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'TEAMWORK 100%'"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [titleColor]="'white'"
  [titleFontSize]="'1em'"
  [showSubtitle]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#731DDB'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>



  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [radius]="100"
  [title]="'ANGULAR 80%'"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [titleColor]="'white'"
  [titleFontSize]="'1em'"
  [showSubtitle]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#D9E129'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>
