#caracteristicas {
  background-image: url("../../../assets/IMG/U4FFGR2XRFHPLM5CQCKQL2GI4U.webp");
  background-repeat: no-repeat;
  background-size: 600px 500px;
  background-position: 20%;
  padding-top: 40px;
}


#caracteristicas .container{
  text-align: right;
  padding: 250px 12px;
  padding-top: 80px;
}


#caracteristicas li{
  margin: 16px 0px;
  font-weight: bold;
  list-style: none;
  font-size: 20px;
}

#caracteristicas ul{
  margin-left: -2px;
}

#caracteristicas h3{
  text-align:center;
}

@media (max-width: 755px){

  #caracteristicas {
    background-size:230px 360px;
    background-position: 5%;
}
  #caracteristicas .container{
    text-align: right;
    padding: 100px 10px;
    padding-top: 50px
}
}
