<section id="caracteristicas">


  <h3>Cursos realizados</h3>
    <div class="container">
      <ul>
        <li>Yo Programo 👉 <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target=_blank>Ver</a></li>
        <li>Big Data y Ciencia de datos 👉 <a href="https://agenciadeaprendizaje.bue.edu.ar/codo-a-codo/"target=_blank>Ver</a></li>
        <li>Se Programar  👉 <a href="https://www.argentina.gob.ar/produccion/argentina-programa/primera-etapa" target=_blank>Ver</a></li>
        <li>Principios Básicos de Big Data 👉 <a href="https://conectaempleo-formacion.fundaciontelefonica.com/es/web/ar-principios-basicos-de-big-data-ftm-ed-5" target=_blank>Ver</a></li>
        <li>Introducción a la Programación 👉 <a href="https://conectaempleo-formacion.fundaciontelefonica.com/es/web/ar-introduccion-a-la-programacion-ftm-ed-9" target=_blank>Ver</a></li>
        <li>Programación desde cero  👉 <a href="https://ed.team/cursos/programacion" target=_blank>Ver</a></li>
        </ul>
    </div>
</section>

