<div class="row">
  <div class="container">
      <div class="logo">
          <img src="../../../assets/IMG/APLogo-20-20.png" id="logoAP">
      </div>
      <div class="redes">
        <ul><a href="https/www.instagram.com/ivanna.lopezbarbona/"target="_blank" title="Perfil Instagram"><li class="list-group-item"> <i class="fa-brands fa-instagram fa-2xl"></i></li></a>
        <a href="https://www.linkedin.com/in/ivanna-lopez-barbona/"target="Perfil Linkedin" title="Perfil Linkedin"><li class="list-group-item"><i class="fa-brands fa-linkedin fa-2xl" ></i></li></a>
        <a href="https://www.facebook.com/ivanna.lopezbarbona/"target="_blank" title="Perfil Facebook"><li class="list-group-item"><i class="fa-brands fa-facebook fa-2xl"></i></li></a>
     <a href="https://wa.me/+5491140454677"target="_blank" title="Enviar wsapp"><li class="list-group-item"><i class="fa-brands fa-whatsapp fa-2xl"></i></li></a>
     <a href="https://github.com/Ivanna49" target="_blank" title="Perfil GitHub"><li class="list-group-item"><i class="fa-brands fa-github fa-2xl" style="font-size:30px;"></i></li></a>

  <!-- Button trigger modal -->
  <li class="list-group-item">
    <i class="fa-solid fa-user-lock fa-2xl" style="font-size:30px;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
   </i>
   </li>
  </ul>



